@font-face {
  font-family: soria;
  src: url(./fonts/soria/soria-font.ttf);
}
@font-face {
  font-family: inco;
  src: url(./fonts/Inconsolata/Inconsolata.otf);
}
@font-face {
  font-family: meie;
  src: url(./fonts/meie-script/MeieScript-Regular.ttf);
}
@font-face {
  font-family: sail;
  src: url(./fonts/Sail-Regular.otf);
}
@font-face {
  font-family: fira;
  src: url(./fonts/Fira_Mono/FiraMono-Regular.ttf);
}
@font-face {
  font-family: chon;
  src: url(./fonts/Chonburi/Chonburi-Regular.ttf);
}
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: fira;
  overflow: auto;
  overflow-x: hidden;
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}

.content {
  position: relative;
  z-index: 1;
  text-align: center;
  color: white;
  font-size: 100px;
  padding: 20px;
  display: inline;
}
.head1 {
  font-family: soria;
  line-height: 0.5px;
}
h2 {
  animation: h2 0.9s linear both;
  font-family: meie;
}

@keyframes h2 {
  0% {
    letter-spacing: -0.2em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.container {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 40vh;
}

.scroll-down-arrow {
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  width: 24px;
  height: 24px;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}

.scroll-down-arrow span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 10px solid #fff;
}
.navbar {
  /* background-color: #333; */
  color: #fff;
  padding: 10px 0;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.brand a {
  font-family: fira;
  text-decoration: none;
  color: #000000;
  font-size: 30px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  font-family: fira;
  font-size: 50px;
  display: inline-block;
  margin-right: 20px;
}

.nav-links li:last-child {
  margin-right: 0;
}

.nav-links li a {
  color: #000000;
  text-decoration: none;
  font-size: 25px;
}

.hero {
  display: flex;
  overflow: hidden;
}

.hero p {
  font-family: fira;
  padding: 40px;
  font-size: 45px;
  text-align: center;
}

.hero img {
  margin: 30px;
  border-radius: 0 40px 0 40px;
  max-height: 600px;
}

.glass-container {
  position: relative;
  width: 1000px;
  height: 570px;
  margin: 33px auto;
  background: rgba(255, 255, 255, 0.15); /* Transparent background color */
  backdrop-filter: blur(10px); /* Apply blur effect */
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
}

.glass-pane {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.05) 100%
  ); /* Gradient for glass effect */
}
.banner {
  font-family: inco;
  color: #000000;
  text-align: center;
  font-weight: 500;
  font-size: 100px;
  text-align: center;
}
.work-container {
  padding: 20px;
  max-width: 80%;
  max-height: 80%;
  margin: 50px;
  overflow: hidden;
}

.work-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.work-container p {
  font-size: 25px;
  font-weight: 200;
}

.img-container {
  display: grid;
  grid-template-columns: 0.7fr auto; /* Creates two columns: first for image, second for text*/
  align-items: center;
  /* padding: 20px; */
  max-width: 100%;
  max-height: 100%;
  margin: 50px;
  overflow: hidden;
}

.img-container img {
  width: 600px;
  height: 600px;
  object-fit: cover;
  justify-content: right;
}
.img-container h3 {
  padding: 20px;
  margin-left: 10px;
  font-size: 120px;
  font-family: chon;
}
.text-contain p {
  margin: -150px;
  margin-left: 51px;
}
/* Basic styles for form layout */
form {
  max-width: 500px;
  margin: 0 auto;
}
label,
input,
textarea {
  display: block;
  margin-bottom: 10px;
}
input,
textarea {
  width: 100%;
  padding: 5px;
}
textarea {
  height: 100px;
}
.submit-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}
.submit-btn:hover {
  background-color: #0056b3;
}
.res-hero {
  margin: 0;
  padding: 0;
}
.res-hero {
  /* left: 20px; */
  font-weight: 500;
  font-size: 200px;
  text-align: center;
  animation: res-hero 0.6s linear both;
}

@keyframes res-hero {
  0% {
    transform: scale(0);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    filter: blur(0);
    opacity: 1;
  }
}
.resume {
  /* border:  0.1rem solid blue; */
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
}

.resume h1,
.resume h2,
.resume h3 {
  animation: none;
  font-family: inco;
  margin-top: 0;
}
.resume pre {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.resume ul {
  list-style-type: none;
  padding-left: 20px;
}
.resume u {
  text-decoration: none;
  padding: 10px;
}
.resume a {
  text-decoration: none;
  /* color: blue; */
}

.resume a:hover {
  text-decoration: underline;
}
.res-btn {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  border-radius: 10em;
  font-size: 17px;
  font-weight: 600;
  padding: 1em 2em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid black;
  box-shadow: 0 0 0 0 black;
}

.res-btn:hover {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 2px 5px 0 0 black;
}

.res-btn:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 black;
}
.techsvg {
  display: flex;
}
.techsvg img {
  width: 100px;
  height: 100px;
}
footer {
  /* link-style-type: none; */
  color: black;
  text-align: center;
  padding: 20px;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
}
